* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 16px;
    --clr-dark: #2e3440;
    --font-mono: 'Fantasque Sans Mono';
}

body {
    min-height: 100vh;
    background: var(--clr-dark, #2e3440);
    color: #ffffff;
    font-family: var(--font-mono, 'Fantasque Sans Mono');
}

#box {
    position: fixed;
    top: 15px;
    right: 15px;
    min-width: 100px;
    padding: .4em;
    background: #0E131D;
    justify-content: space-between;
    align-items: center ;
    display: flex;
    flex-direction: column;
    opacity: .85;
    box-shadow: 0 0 10px black;
    border-radius: 8px;
}

#input, #output {
    min-height: 100vh;
    width: 100%;
    padding: .8em;
    color: #ffffff;
    background: inherit;
    font-family: inherit;
}

pre, code {
    font: inherit;
}

textarea {
    resize: none;
    appearance: none;
    border: 0;
    font-size: 16px;
}

textarea:focus {
    outline: none;
}

select, button {
    text-align: center;
    padding: .6em .8em;
    color: #AC6E75;
    background: inherit;
    font-weight: bold;
    font-family: inherit;
    border: 0;
    outline: none;
    appearance: none;
    cursor: pointer;
}

select:hover, button:hover {
    color: #aaee77;
}

.nowrap {
    white-space: pre;
    overflow-wrap: normal;
    overflow: auto;
}

.inactive, .inactive:hover {
    color: grey !important;
    cursor: default;
}

.loading * {
    cursor: progress !important;
}
